

.main-about-container{
    background-color: gray;
    height: 85vh;
    margin-top: 6em;
}
.custom-about-section{
            float: left;
            margin-left: -0.6em;
            width: 49vw;
            height: 85vh;
            padding: 20px;
            background-color: #e8e7e7;
            box-shadow: 0 2px 10px gold;
        }
    .custom-about-section    h1 {
        margin-top: 1em;
            text-align: center;
            font-size:36px;
            color: #212020;
        }
     .custom-about-section   p {
        text-align: center;
            color: black;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 15px;
        }
        .image-background{
            height: 50em;
            width: 40em;
            background-color:white ;
            margin-top: 5em;
            margin-right: 10em;
            float: right;
            background-color: gold;
            border-radius: 50%;

        }
    .about-logo1{
        margin-top: 1em;
        margin-left: 7em;
        height: 25em;
        width: auto;
       
       
    }

.custom-image-about1{
    height: 30em;
    width: 25em;
    margin:7em ;
    margin-top: 9em;
    float: right;
    border-radius: 2%;
}
.custom-about-section {
    position: relative; /* Set as relative positioning */
    z-index: 2; /* Place above images */
    padding: 20px; /* Use relative units for padding */
 /* Add border radius for a container-like appearance */
    /* margin: 10px; */
}

.custom-image-about1 {
    position: relative;
    z-index: 1; /* Lower z-index to place below .custom-about-section */
}

.custom-image-container{
    background-color: rgba(112, 111, 105, 0.886);
    float: right;
    margin-right: -0.6em;
    height: 85vh;
    width: 49vw;
    box-shadow: 0 2px 10px gold;
}
/* Media query to apply overlay effect for smaller screens */
@media (max-width: 767px) {
    .custom-about-section {
        background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
        padding: 20px; /* Adjust padding for better readability */
        border-radius: 10px; /* Add border radius for a container-like appearance */
    }
}
@media (max-width: 767px) {
    .custom-about-section {
        height: auto; 
        width: auto; /* Allow container to adjust width based on content */
    }
}