.main-services-container{
    height: 125vh;
    background-color: lightgray;
}
h4 {
    
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    text-align: center;
}
.services-row {
    margin-top: 2em;
    justify-content: center;
}

.custom-group-services,
.custom-group2-services{
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(18, 18, 18, 0.1);
    background-color: #faf9f9;
    margin-bottom: 2em;
}

.custom-group-services {
    background-color: #fff3cd;
}

.custom-group2-services {
    background-color: #fff3cd;
}

.bi-dot {
    color: #c3ed08;
    margin-right: 0.5em;
}
.custom-list-container{
    width: 60em;
    margin-top: 20em;
}
.random-phrase-bottom{
    text-align: center;
    margin-top: 20em;
  
}
@media (max-width: 768px) {
    .custom-group-services,
    .custom-group2-services,
    .custom-group3-services {
        padding: 1.5em;
    }
}
