

.main-about-container{
    background-color: gray;
    height: 90vh;
    margin-top: 6em;
}

    .custom-about-section    h1 {
        margin-top: 1em;
            text-align: center;
            font-size:36px;
            color: #212020;
        }
     .custom-about-section   p {
            text-align: center;
            width: 50em;
            padding: 1em;
            color: black;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 15px;
        }
    .about-logo1{
        margin-top: 1em;
        margin-left: 7em;
        height: 25em;
        width: auto;
       
       
    }

.custom-image-about1 {
    height: 30em;
    width: auto;
    position: relative;
    margin: 5em;
    margin-top: 2em;
    margin-right: -14em;
    float: right;
    border-radius: 2%;
}
.custom-about-section {
    position: relative; /* Set as relative positioning */
    z-index: 2; /* Place above images */
    padding: 20px; /* Use relative units for padding */
 /* Add border radius for a container-like appearance */
   width: 50em;
}


.custom-image-about1 {
    position: relative;
    z-index: 1; /* Lower z-index to place below .custom-about-section */
}


/* Media query to apply overlay effect for smaller screens */
@media (max-width: 767px) {
    .custom-about-section {
        background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
        padding: 20px; /* Adjust padding for better readability */
        border-radius: 10px; /* Add border radius for a container-like appearance */
    }
}
@media (max-width: 767px) {
    .custom-about-section {
        height: auto; 
        width: auto; /* Allow container to adjust width based on content */
    }
}