/* Main Container */

.main-bookNow-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    min-height: 100vh;
    margin-top: 10em;
}

/* Cover Background */
.cover-background {
    background-color: lightgrey; /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black; /* Text color on the background */
    padding: 2em; /* Add padding to the cover background to separate content from edges */
    border-radius: 2%;
    width: 55em;
    text-align: center;
}

/* Booking Information Container */
.booknow-info {
    max-width: 600px;
    margin: 0 auto;
}

/* Contact Details Styles */
.contact-details p {
    font-size: 18px;
    margin: 10px 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .main-bookNow-custom {
        padding: 1em;
    }

    .booknow-info {
        max-width: 80%;
    }
}
