
.main-home-container{
    min-height: 100vh;
   
}
.homebanner {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Set height of container to 100% viewport height */
}

.image-container {
   max-width: 100%;
    margin-top: 96px;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    background-color: gold;
    
}

.custom-image1 {
    width: 98em;
    height: 32em;
    object-fit: cover
}

.image-container {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 50%;
    transform: translate(74%,50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.overlay-text {
    color: #333;
    text-align: left;
    font-size: 18px;
    white-space: pre-line; /* Preserve line breaks and spaces */
}
.custom-home-image{
    height: 45em;
    margin-bottom: 10em;
}