/* 
.main-home-container{
    min-height: 100vh;
   
}
.homebanner {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.image-container {
   max-width: 100%;
    margin-top: 96px;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    background-color: gold;
    
}

.custom-image1 {
    width: 98em;
    height: 32em;
    object-fit: cover
}

.image-container {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 50%;
    transform: translate(74%,50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.overlay-text {
    color: #333;
    text-align: left;
    font-size: 18px;
    white-space: pre-line; 
}
.custom-home-image{
    height: 35em;
    margin-bottom: 10em;
    margin-left: 15em;
}
.HomePageContainer{
    font-size: large;
    line-height: 3em;
    text-wrap:balance ;
}  */



.home-container {
    min-height: 100vh;
}

.image-container {
    max-width: 100%;
    margin-top: 96px;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    background-color: gold;
}

.custom-image {
    width: 98em;
    height: 32em;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    transform: translate(74%, 50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.overlay-text {
    color:black;
    text-align: center;
    font-size: 18px;
    white-space: pre-line;
}

.custom-home-image {
    height: 35em;
    margin-bottom: 9em;
    margin-left: 6em;
}

.home-description {
    font-size: large;
    line-height: 3em;
    text-wrap: balance;
}
