.container-fluid {
    height: 6em;
}
.custom-logo-image{
    height: 4em;
    width: auto;
}
.navbar-dark .navbar-nav .nav-link.active {
    
    font-weight: bold;
    color: #fdf7f7; /* Change the color to your preference */
}
.custom-spaceing{
    margin-right:10em;
}